body {
    font-family: Roboto, Verdana, Geneva, sans-serif;
    color: #546270;
    margin: 0px 0px;
}

header {
  width: 100%;
  height: 40vh;
  background-image: url(assets/images/curriculumrequirementsheader.svg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header h1 {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 10px;
    color: #FFFFFF;
}

header p {
    font-size: 1.5rem;
    margin-top: 0px;
    margin-bottom: 50px;
}

section {
    padding: 30px;
}

section .row {
    margin-bottom: 80px;
}

section .button-line {
    margin-bottom: 20px;
}

section p {
    margin-top: 15px;
    margin-bottom: 0px;
    font-weight: bold;
}

.select-forms {
    display: flex;
    justify-content: center;
}

.form-group-province, .form-group-grade-level {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 10px;
}

footer {
    background-color: #F5F2ED;
    width: 100%;
    height: 10vh;
    bottom: 0;
    position: relative;
}

.icons {
    width: 400px;
    height: 10vh;
    filter: invert(37%) sepia(36%) saturate(229%) hue-rotate(169deg) brightness(91%) contrast(90%);
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 50px;
}

.icons img {
    width: 30px;
}

.chemistry {
    background-color: #ed6f68;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2.5px;
    line-height: 1;
    margin: 2.5px;
  }

.chemistry:hover {
    background-color: #FFFFFF;
    border: 2.5px solid #ed6f68;
    color: #546270;
    transition: all 0.25s;
    cursor: pointer;
}

.math {
    background-color: #8a9AED;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2.5px;
    line-height: 1;
    margin: 2.5px;
}

.math:hover {
    background-color: #FFFFFF;
    border: 2.5px solid #8a9aed;
    color: #546270;
    transition: all 0.25s;
    cursor: pointer;
}

.physics {
    background-color: #4592d1;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2.5px;
    line-height: 1;
    margin: 2.5px;
}

.physics:hover {
    background-color: #FFFFFF;
    border: 2.5px solid #4592d1;
    color: #546270;
    transition: all 0.25s;
    cursor: pointer;
}

.biology {
    background-color: #77c79f;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2.5px;
    line-height: 1;
    margin: 2.5px;
}

.biology:hover {
    background-color: #FFFFFF;
    border: 2.5px solid #77c79f;
    color: #546270;
    transition: all 0.25s;
    cursor: pointer;
  }

  .navbar-nav {
      float:none;
      margin:0 auto;
      display: block;
      text-align: center;
  }

  .navbar-nav > li {
      display: inline-block;
      float:none;
      padding-left: 100px;
  }
